@import "./_constants";

.factory-game {
  font-size: 0;
}

.main-bus-header {
  background-color: orange;
  width: $appWidth;
  height: 100px;
  display: flex;
  justify-content: flex-end;

  .add-lane-button {
    font-size: 16px;
    color: black;
    cursor: pointer;
    user-select: none;
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin: auto 0;
  }
  .belt-count {
    font-size: 22px;
    color: black;
    line-height: 20px;
  }

  .main-bus-segment {
    height: 70px;
  }
}

.lane-header-counts {
  display: flex;
  .icon {
    transform: scale(0.35);
    margin: -6px;
  }
  cursor: pointer;
  user-select: none;
}

.lane-header-item-stack {
  width: 35px;
  height: 50px;
  background-color: darkorange;
  > * {
    pointer-events: none;
  }
}

.mainBusSegment,
.main-bus-segment {
  background-color: orange;
  height: ($cardHeight + $inserterCardHeight + 2);
  width: 400px;
}

.info-card {
  .icon {
    transform: scale(0.5);
    margin: -16px;
  }
  .top-info {
    margin-right: 12px;
  }
  .ore-text {
    display: inline-block;
  }
  .science-info {
    margin-left: auto;
  }
  //position: fixed;
  display: flex;
  line-height: 12px;
  font-size: 12px;
  vertical-align: middle;
  background-color: grey;
  align-items: flex-start;
  width: $appWidth;
  z-index: 1;
}

.recipe-selector {
  width: 650px;
  background: lightgrey;
  border: 2px black solid;
  z-index: 1;
  padding: 10px;
  .title {
    font-size: 24px;
    line-height: 1;
    color: black;
    margin: auto;
    padding-left: 12px;
    height: 100%;
    vertical-align: top;
  }
  .recipeList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    .icon {
      box-sizing: border-box;
      border-color: lightgrey;
      //border: 1px red solid;
      //transform: scale(0.8);
      //margin-right: -8px;
    }
  }
}

.close-button {
}

.modal {
  position: fixed;
  top: 10%;
  left: 5%;
  transform: translate(0%, 5%);
}

.scroller {
  overflow: scroll;
  height: 95vh;
}

.add-producer,
.explore-button {
  width: 90%;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  margin: auto;
  text-align: center;
}

.region-tab-bar {
  height: 40px;
  width: $appWidth;
  display: flex;
  background: lightblue;
}
.region-tab {
  min-width: 50px;
  font-size: 12px;
  line-height: 14px;
  border: 2px solid darkgrey;
  border-radius: 4px;
  border-bottom: none;
  margin: 2px 4px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  &.active {
    border-color: black;
  }
}
