.factoryGame {
  font-size: 0;
}

.mainBusHeader,
.main-bus-header {
  padding-top: 40px;
  background-color: orange;
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  .addLaneButton,
  .add-lane-button {
    font-size: 16px;
    color: black;
    cursor: pointer;
    user-select: none;
    width: 80px;
    height: 32px;
    text-align: center;
    line-height: 32px;
  }
  .belt-count {
    font-size: 22px;
    color: black;
    line-height: 20px;
  }
  .mainBusSegment,
  .main-bus-segment {
    height: 70px;
  }
}

.mainBusSegment,
.main-bus-segment {
  background-color: orange;
  height: 100px;
  width: 400px;
}

.info-card {
  .icon {
    transform: scale(0.5);
    margin: -16px;
  }
  .top-info {
    margin-right: 12px;
  }
  .ore-text {
    display: inline-block;
  }
  .science-info {
    margin-left: auto;
  }
  position: fixed;
  display: flex;
  line-height: 12px;
  font-size: 12px;
  vertical-align: middle;
  background-color: grey;
  align-items: flex-start;
  width: 100%;
  z-index: 1;
}

.recipeSelector {
  width: 650px;
  background: grey;
  border: 2px black solid;
  z-index: 1;
  padding: 10px;
  > p {
    font-size: 24px;
    color: black;
    margin: 0;
  }
  .recipeList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    .icon {
      box-sizing: border-box;
      border: 1px red solid;
      transform: scale(0.5);
      margin-right: -24px;
    }
  }
}

.modal {
  position: fixed;
  top: 10%;
  left: 5%;
  transform: translate(0%, 5%);
}
