@import "./constants";
.inventory-display {
  max-width: $appWidth;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  border-top: 2px black inset;
}

.factory-game > .inventory-display {
  padding: 2px;
  margin: 4px 11px 4px 10px;
}

.inventory-slot {
  position: relative;
  border: 4px darkgray inset;
  width: 40px;
  height: 40px;
  > * {
    pointer-events: none;
  }
  .icon {
    transform: scale(0.6);
    margin: -12px;
  }
  .inventory-display:not(.no-hover) > &:hover .inventory-hover-tip {
    visibility: visible;
  }
}

.inventory-hover-tip {
  position: absolute;
  visibility: hidden;
  pointer-events: all;

  background-color: #cccd;
  width: 100%;
  text-align: center;
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}

.item-stack-count-text {
  position: relative;
  top: -22px;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  width: 100%;
  user-select: none;
  > span {
    background: #aaaaaa88;
    color: black;
  }
  .sprite-technology-no-science + & {
    display: none;
  }
}

.inventory-slot-over-capacity {
  background-color: lightpink;
  border-color: indianred;
}
