.place-belt-line {
  width: 650px;
  background: lightgrey;
  border: 2px black solid;
  z-index: 1;
  padding: 10px;

  .title {
    font-size: 24px;
    line-height: 1;
    color: black;
    margin: auto;
    padding-left: 12px;
    height: 100%;
    vertical-align: top;
  }

  .place-belt-line-region-selector {
    margin-left: 20px;
    padding: 4px 12px;
  }

  .place-belt-line-build-button {
    width: 60px;
    padding: 4px;
    background: lightblue;
  }

  .place-belt-line-button-row {
    display: flex;
    justify-content: flex-end;
  }
}
