@import "./_constants";

.producerCard {
  width: $appWidth;
  height: 100px;
  //border: 1px black solid;
  display: flex;
  background: lightgrey;
  box-sizing: border-box;
  user-select: none;
  justify-content: flex-end;

  .icon {
  }

  .dragArea {
    user-select: none;
    cursor: grab;
    line-height: 90px;
    border-right: 1px darkgrey solid;
    display: flex;
    flex-direction: column;
  }

  .mainArea {
    width: 525px;
  }

  .topArea {
    display: flex;
    border-top: 1px solid black;
    justify-content: flex-end;
    padding-left: 25px;
  }

  .bottomArea {
    display: flex;
    //border: 1px solid black;
  }

  .title {
    color: black;
    //border: 1px solid black;
    font-size: 20px;
    line-height: 20px;
    min-width: 150px;
    padding-left: 4px;
    margin-right: auto;
  }

  .producerCountArea {
    display: flex;

    .icon {
      height: 64px;
      margin-bottom: -32px;
      transform: scale(0.5) translateY(-50%);
    }

    .plusMinus {
      padding: 0px 6px;
      margin: 0 10px;
      border: 1px outset darkgrey;
      font-size: 16px;
      line-height: 32px;
    }
    .producerCount {
      font-size: 16px;
      line-height: 32px;
    }
  }

  .recipeDisplay {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    line-height: 32px;

    .quantityText {
      font-size: 16px;
      width: 40px;
    }

    .recipeItem {
      display: flex;
      flex-direction: column;
      padding: 0 0px;
    }

    .equalsSign {
      margin: auto 0;
      margin-right: 12px;
      padding: 0 8px;
      font-size: 32px;
    }

    .iconFrame {
      .icon {
        margin: -25px;
        transform: scale(0.4);
      }
      .icon.landfill {
        margin-right: -40px;
        transform: scale(0.7);
        opacity: 80%;
      }
    }
  }

  .outputArea {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-size: 16px;
    border-top: 1px solid black;
    //height: 86px;
    .outputArrow {
      box-sizing: border-box;
      border: 2px darkgrey outset;
      text-align: center;
      line-height: 20px;
      height: 22px;
    }
    .outputArrow.right {
      line-height: 38px;
      height: 38px;
    }
  }
}

.item-icon-progress {
  progress[value]::-webkit-progress-bar {
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    background: inherit;
  }
  progress[value]::-webkit-progress-value {
    background-color: #33333333;
  }
  progress {
    appearance: none;
  }
}
