.producerCard {
  width: 700px;
  height: 86px;
  //border: 1px black solid;
  display: flex;
  background: lightgrey;
  box-sizing: border-box;
  user-select: none;

  .icon {
  }

  .dragArea {
    user-select: none;
    cursor: grab;
    line-height: 86px;
    border-right: 1px darkgrey solid;
    display: flex;
    flex-direction: column;
    .arrow {
    }
  }

  .mainArea {
    width: 400px;
  }

  .topArea {
    display: flex;
    border-top: 1px solid black;
  }
  .bottomArea {
    display: flex;
    //border: 1px solid black;
  }

  .title {
    color: black;
    //border: 1px solid black;
    font-size: 20px;
    line-height: 20px;
    min-width: 150px;
    padding-left: 4px;
  }

  .producerCountArea {
    display: flex;
    margin-left: 24px;
    .icon {
      height: 64px;
      margin-bottom: -32px;
      transform: scale(0.5) translateY(-50%);
    }

    .plusMinus {
      padding: 0px 6px;
      margin: 0 10px;
      border: 1px outset darkgrey;
      font-size: 16px;
      line-height: 32px;
    }
    .producerCount {
      font-size: 16px;
      line-height: 32px;
    }
  }

  .recipeDisplay {
    line-height: 48px;
    font-size: 16px;
    .icon {
      border: 1px black solid;
      height: 64px;
      margin-bottom: -64px;
      transform: scale(0.5) translateY(-100%);
    }
  }

  .outputArea {
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    font-size: 16px;
    border-top: 1px solid black;
    //height: 86px;
    .outputArrow {
      box-sizing: border-box;
      border: 2px darkgrey outset;
      text-align: center;
      line-height: 20px;
      height: 22px;
    }
    .outputArrow.right {
      line-height: 38px;
      height: 38px;
    }
  }
}
