@import "./constants";
.region-selector {
  z-index: 10;
  background: #aaa;
  border: 2px black solid;
  padding: 50px;
  display: flex;
  flex-direction: column;
  .top {
    line-height: 32px;
  }
  &.modal {
    left: 20%;
  }
  .title {
    line-height: 36px;
    font-size: 32px;
    padding-left: 8px;
  }
}
