div {
}

span {
  border: 0px blue solid;
}

.App {
  text-align: left;
  a {
    color: blue;
    padding-top: 10px;
  }
  width: 600px;
}

.title {
  color: white;
  font-size: 0.5em;
}

.scroller {
  overflow: scroll;
  height: 95vh;
}

.infoCard {
  .icon {
    transform: scale(0.5);
    margin: -16px;
  }
  .topInfo {
    margin-right: 12px;
  }
  .oreText {
    display: inline-block;
  }
  display: flex;
  line-height: 12px;
  font-size: 12px;
  vertical-align: middle;
  background-color: grey;
}

.recipeSelector {
  width: 90%;
  background: grey;
  border: 2px black solid;
  z-index: 1;
  .recipeList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    .icon {
      box-sizing: border-box;
      border: 1px red solid;
      transform: scale(0.5);
      margin-right: -24px;
    }
  }
}

.modal {
  position: fixed;
  top: 0%;
  left: 5%;
  transform: translate(0%, 5%);
}

.addProducer,
.resetButton,
.exploreButton {
  width: 90%;
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  margin: auto;
  text-align: center;
}

.clickable {
  box-shadow: 2px 2px #36373844;
  border: #121515cc inset 1px;
  cursor: pointer;
  user-select: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
