@import "./components/constants";

div {
}

span {
  border: 0px blue solid;
}

.App {
  text-align: left;
  a {
    color: blue;
    padding-top: 10px;
  }
  width: $appWidth;
}

.icon {
  display: inline-block;
  background-image: url("./icons.png");
}

.clickable {
  box-shadow: 2px 2px #36373844;
  border: #121515cc inset 1px;
  cursor: pointer;
  user-select: none;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.reset-button {
  height: 32px;
  font-size: 16px;
  line-height: 32px;
  //   text-decoration: underline;
  //   color: blue;
  //   cursor: pointer;
}
