.basic-oil-processing {
  width: 64px;
  height: 64px;
  background-position: 0px 0px;
}
.advanced-oil-processing {
  width: 64px;
  height: 64px;
  background-position: -64px 0px;
}
.coal-liquefaction {
  width: 64px;
  height: 64px;
  background-position: -128px 0px;
}
.heavy-oil-cracking {
  width: 64px;
  height: 64px;
  background-position: -192px 0px;
}
.light-oil-cracking {
  width: 64px;
  height: 64px;
  background-position: -256px 0px;
}
.solid-fuel-from-light-oil {
  width: 64px;
  height: 64px;
  background-position: -320px 0px;
}
.solid-fuel-from-petroleum-gas {
  width: 64px;
  height: 64px;
  background-position: -384px 0px;
}
.solid-fuel-from-heavy-oil {
  width: 64px;
  height: 64px;
  background-position: -448px 0px;
}
.uranium-processing {
  width: 64px;
  height: 64px;
  background-position: -512px 0px;
}
.fill-crude-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -576px 0px;
}
.fill-heavy-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -640px 0px;
}
.fill-light-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -704px 0px;
}
.fill-lubricant-barrel {
  width: 64px;
  height: 64px;
  background-position: -768px 0px;
}
.fill-petroleum-gas-barrel {
  width: 64px;
  height: 64px;
  background-position: -832px 0px;
}
.fill-sulfuric-acid-barrel {
  width: 64px;
  height: 64px;
  background-position: -896px 0px;
}
.fill-water-barrel {
  width: 64px;
  height: 64px;
  background-position: -960px 0px;
}
.nuclear-fuel-reprocessing {
  width: 64px;
  height: 64px;
  background-position: 0px -64px;
}
.kovarex-enrichment-process {
  width: 64px;
  height: 64px;
  background-position: -64px -64px;
}
.wooden-chest {
  width: 64px;
  height: 64px;
  background-position: -128px -64px;
}
.iron-chest {
  width: 64px;
  height: 64px;
  background-position: -192px -64px;
}
.steel-chest {
  width: 64px;
  height: 64px;
  background-position: -256px -64px;
}
.storage-tank {
  width: 64px;
  height: 64px;
  background-position: -320px -64px;
}
.transport-belt {
  width: 64px;
  height: 64px;
  background-position: -384px -64px;
}
.fast-transport-belt {
  width: 64px;
  height: 64px;
  background-position: -448px -64px;
}
.express-transport-belt {
  width: 64px;
  height: 64px;
  background-position: -512px -64px;
}
.underground-belt {
  width: 64px;
  height: 64px;
  background-position: -576px -64px;
}
.fast-underground-belt {
  width: 64px;
  height: 64px;
  background-position: -640px -64px;
}
.express-underground-belt {
  width: 64px;
  height: 64px;
  background-position: -704px -64px;
}
.splitter {
  width: 64px;
  height: 64px;
  background-position: -768px -64px;
}
.fast-splitter {
  width: 64px;
  height: 64px;
  background-position: -832px -64px;
}
.express-splitter {
  width: 64px;
  height: 64px;
  background-position: -896px -64px;
}
.burner-inserter {
  width: 64px;
  height: 64px;
  background-position: -960px -64px;
}
.inserter {
  width: 64px;
  height: 64px;
  background-position: 0px -128px;
}
.long-handed-inserter {
  width: 64px;
  height: 64px;
  background-position: -64px -128px;
}
.fast-inserter {
  width: 64px;
  height: 64px;
  background-position: -128px -128px;
}
.filter-inserter {
  width: 64px;
  height: 64px;
  background-position: -192px -128px;
}
.stack-inserter {
  width: 64px;
  height: 64px;
  background-position: -256px -128px;
}
.stack-filter-inserter {
  width: 64px;
  height: 64px;
  background-position: -320px -128px;
}
.small-electric-pole {
  width: 64px;
  height: 64px;
  background-position: -384px -128px;
}
.medium-electric-pole {
  width: 64px;
  height: 64px;
  background-position: -448px -128px;
}
.big-electric-pole {
  width: 64px;
  height: 64px;
  background-position: -512px -128px;
}
.substation {
  width: 64px;
  height: 64px;
  background-position: -576px -128px;
}
.pipe {
  width: 64px;
  height: 64px;
  background-position: -640px -128px;
}
.pipe-to-ground {
  width: 64px;
  height: 64px;
  background-position: -704px -128px;
}
.pump {
  width: 64px;
  height: 64px;
  background-position: -768px -128px;
}
.rail {
  width: 64px;
  height: 64px;
  background-position: -832px -128px;
}
.train-stop {
  width: 64px;
  height: 64px;
  background-position: -896px -128px;
}
.rail-signal {
  width: 64px;
  height: 64px;
  background-position: -960px -128px;
}
.rail-chain-signal {
  width: 64px;
  height: 64px;
  background-position: 0px -192px;
}
.locomotive {
  width: 64px;
  height: 64px;
  background-position: -64px -192px;
}
.cargo-wagon {
  width: 64px;
  height: 64px;
  background-position: -128px -192px;
}
.fluid-wagon {
  width: 64px;
  height: 64px;
  background-position: -192px -192px;
}
.artillery-wagon {
  width: 64px;
  height: 64px;
  background-position: -256px -192px;
}
.car {
  width: 64px;
  height: 64px;
  background-position: -320px -192px;
}
.tank {
  width: 64px;
  height: 64px;
  background-position: -384px -192px;
}
.spidertron {
  width: 64px;
  height: 64px;
  background-position: -448px -192px;
}
.spidertron-remote {
  width: 64px;
  height: 64px;
  background-position: -512px -192px;
}
.logistic-robot {
  width: 64px;
  height: 64px;
  background-position: -576px -192px;
}
.construction-robot {
  width: 64px;
  height: 64px;
  background-position: -640px -192px;
}
.logistic-chest-active-provider {
  width: 64px;
  height: 64px;
  background-position: -704px -192px;
}
.logistic-chest-passive-provider {
  width: 64px;
  height: 64px;
  background-position: -768px -192px;
}
.logistic-chest-storage {
  width: 64px;
  height: 64px;
  background-position: -832px -192px;
}
.logistic-chest-buffer {
  width: 64px;
  height: 64px;
  background-position: -896px -192px;
}
.logistic-chest-requester {
  width: 64px;
  height: 64px;
  background-position: -960px -192px;
}
.roboport {
  width: 64px;
  height: 64px;
  background-position: 0px -256px;
}
.small-lamp {
  width: 64px;
  height: 64px;
  background-position: -64px -256px;
}
.red-wire {
  width: 64px;
  height: 64px;
  background-position: -128px -256px;
}
.green-wire {
  width: 64px;
  height: 64px;
  background-position: -192px -256px;
}
.arithmetic-combinator {
  width: 64px;
  height: 64px;
  background-position: -256px -256px;
}
.decider-combinator {
  width: 64px;
  height: 64px;
  background-position: -320px -256px;
}
.constant-combinator {
  width: 64px;
  height: 64px;
  background-position: -384px -256px;
}
.power-switch {
  width: 64px;
  height: 64px;
  background-position: -448px -256px;
}
.programmable-speaker {
  width: 64px;
  height: 64px;
  background-position: -512px -256px;
}
.stone-brick {
  width: 64px;
  height: 64px;
  background-position: -576px -256px;
}
.concrete {
  width: 64px;
  height: 64px;
  background-position: -640px -256px;
}
.hazard-concrete {
  width: 64px;
  height: 64px;
  background-position: -704px -256px;
}
.refined-concrete {
  width: 64px;
  height: 64px;
  background-position: -768px -256px;
}
.refined-hazard-concrete {
  width: 64px;
  height: 64px;
  background-position: -832px -256px;
}
.landfill {
  width: 64px;
  height: 64px;
  background-position: -896px -256px;
}
.cliff-explosives {
  width: 64px;
  height: 64px;
  background-position: -960px -256px;
}
.repair-pack {
  width: 64px;
  height: 64px;
  background-position: 0px -320px;
}
.boiler {
  width: 64px;
  height: 64px;
  background-position: -64px -320px;
}
.steam-engine {
  width: 64px;
  height: 64px;
  background-position: -128px -320px;
}
.solar-panel {
  width: 64px;
  height: 64px;
  background-position: -192px -320px;
}
.accumulator {
  width: 64px;
  height: 64px;
  background-position: -256px -320px;
}
.nuclear-reactor {
  width: 64px;
  height: 64px;
  background-position: -320px -320px;
}
.heat-pipe {
  width: 64px;
  height: 64px;
  background-position: -384px -320px;
}
.heat-exchanger {
  width: 64px;
  height: 64px;
  background-position: -448px -320px;
}
.steam-turbine {
  width: 64px;
  height: 64px;
  background-position: -512px -320px;
}
.burner-mining-drill {
  width: 64px;
  height: 64px;
  background-position: -576px -320px;
}
.electric-mining-drill {
  width: 64px;
  height: 64px;
  background-position: -640px -320px;
}
.offshore-pump {
  width: 64px;
  height: 64px;
  background-position: -704px -320px;
}
.pumpjack {
  width: 64px;
  height: 64px;
  background-position: -768px -320px;
}
.stone-furnace {
  width: 64px;
  height: 64px;
  background-position: -832px -320px;
}
.steel-furnace {
  width: 64px;
  height: 64px;
  background-position: -896px -320px;
}
.electric-furnace {
  width: 64px;
  height: 64px;
  background-position: -960px -320px;
}
.assembling-machine-1 {
  width: 64px;
  height: 64px;
  background-position: 0px -384px;
}
.assembling-machine-2 {
  width: 64px;
  height: 64px;
  background-position: -64px -384px;
}
.assembling-machine-3 {
  width: 64px;
  height: 64px;
  background-position: -128px -384px;
}
.oil-refinery {
  width: 64px;
  height: 64px;
  background-position: -192px -384px;
}
.chemical-plant {
  width: 64px;
  height: 64px;
  background-position: -256px -384px;
}
.centrifuge {
  width: 64px;
  height: 64px;
  background-position: -320px -384px;
}
.lab {
  width: 64px;
  height: 64px;
  background-position: -384px -384px;
}
.beacon {
  width: 64px;
  height: 64px;
  background-position: -448px -384px;
}
.speed-module {
  width: 64px;
  height: 64px;
  background-position: -512px -384px;
}
.speed-module-2 {
  width: 64px;
  height: 64px;
  background-position: -576px -384px;
}
.speed-module-3 {
  width: 64px;
  height: 64px;
  background-position: -640px -384px;
}
.effectivity-module {
  width: 64px;
  height: 64px;
  background-position: -704px -384px;
}
.effectivity-module-2 {
  width: 64px;
  height: 64px;
  background-position: -768px -384px;
}
.effectivity-module-3 {
  width: 64px;
  height: 64px;
  background-position: -832px -384px;
}
.productivity-module {
  width: 64px;
  height: 64px;
  background-position: -896px -384px;
}
.productivity-module-2 {
  width: 64px;
  height: 64px;
  background-position: -960px -384px;
}
.productivity-module-3 {
  width: 64px;
  height: 64px;
  background-position: 0px -448px;
}
.rocket-silo {
  width: 64px;
  height: 64px;
  background-position: -64px -448px;
}
.satellite {
  width: 64px;
  height: 64px;
  background-position: -128px -448px;
}
.wood {
  width: 64px;
  height: 64px;
  background-position: -192px -448px;
}
.coal {
  width: 64px;
  height: 64px;
  background-position: -256px -448px;
}
.stone {
  width: 64px;
  height: 64px;
  background-position: -320px -448px;
}
.iron-ore {
  width: 64px;
  height: 64px;
  background-position: -384px -448px;
}
.copper-ore {
  width: 64px;
  height: 64px;
  background-position: -448px -448px;
}
.uranium-ore {
  width: 64px;
  height: 64px;
  background-position: -512px -448px;
}
.raw-fish {
  width: 64px;
  height: 64px;
  background-position: -576px -448px;
}
.iron-plate {
  width: 64px;
  height: 64px;
  background-position: -640px -448px;
}
.copper-plate {
  width: 64px;
  height: 64px;
  background-position: -704px -448px;
}
.solid-fuel {
  width: 64px;
  height: 64px;
  background-position: -768px -448px;
}
.steel-plate {
  width: 64px;
  height: 64px;
  background-position: -832px -448px;
}
.plastic-bar {
  width: 64px;
  height: 64px;
  background-position: -896px -448px;
}
.sulfur {
  width: 64px;
  height: 64px;
  background-position: -960px -448px;
}
.battery {
  width: 64px;
  height: 64px;
  background-position: 0px -512px;
}
.explosives,
.incinerator {
  width: 64px;
  height: 64px;
  background-position: -64px -512px;
}
.crude-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -128px -512px;
}
.heavy-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -192px -512px;
}
.light-oil-barrel {
  width: 64px;
  height: 64px;
  background-position: -256px -512px;
}
.lubricant-barrel {
  width: 64px;
  height: 64px;
  background-position: -320px -512px;
}
.petroleum-gas-barrel {
  width: 64px;
  height: 64px;
  background-position: -384px -512px;
}
.sulfuric-acid-barrel {
  width: 64px;
  height: 64px;
  background-position: -448px -512px;
}
.water-barrel {
  width: 64px;
  height: 64px;
  background-position: -512px -512px;
}
.copper-cable {
  width: 64px;
  height: 64px;
  background-position: -576px -512px;
}
.iron-stick {
  width: 64px;
  height: 64px;
  background-position: -640px -512px;
}
.iron-gear-wheel {
  width: 64px;
  height: 64px;
  background-position: -704px -512px;
}
.empty-barrel {
  width: 64px;
  height: 64px;
  background-position: -768px -512px;
}
.electronic-circuit {
  width: 64px;
  height: 64px;
  background-position: -832px -512px;
}
.advanced-circuit {
  width: 64px;
  height: 64px;
  background-position: -896px -512px;
}
.processing-unit {
  width: 64px;
  height: 64px;
  background-position: -960px -512px;
}
.engine-unit {
  width: 64px;
  height: 64px;
  background-position: 0px -576px;
}
.electric-engine-unit {
  width: 64px;
  height: 64px;
  background-position: -64px -576px;
}
.flying-robot-frame {
  width: 64px;
  height: 64px;
  background-position: -128px -576px;
}
.rocket-control-unit {
  width: 64px;
  height: 64px;
  background-position: -192px -576px;
}
.low-density-structure {
  width: 64px;
  height: 64px;
  background-position: -256px -576px;
}
.rocket-fuel {
  width: 64px;
  height: 64px;
  background-position: -320px -576px;
}
.rocket-part {
  width: 64px;
  height: 64px;
  background-position: -384px -576px;
}
.nuclear-fuel {
  width: 64px;
  height: 64px;
  background-position: -448px -576px;
}
.uranium-235 {
  width: 64px;
  height: 64px;
  background-position: -512px -576px;
}
.uranium-238 {
  width: 64px;
  height: 64px;
  background-position: -576px -576px;
}
.uranium-fuel-cell {
  width: 64px;
  height: 64px;
  background-position: -640px -576px;
}
.used-up-uranium-fuel-cell {
  width: 64px;
  height: 64px;
  background-position: -704px -576px;
}
.automation-science-pack {
  width: 64px;
  height: 64px;
  background-position: -768px -576px;
}
.logistic-science-pack {
  width: 64px;
  height: 64px;
  background-position: -832px -576px;
}
.military-science-pack {
  width: 64px;
  height: 64px;
  background-position: -896px -576px;
}
.chemical-science-pack {
  width: 64px;
  height: 64px;
  background-position: -960px -576px;
}
.production-science-pack {
  width: 64px;
  height: 64px;
  background-position: 0px -640px;
}
.utility-science-pack {
  width: 64px;
  height: 64px;
  background-position: -64px -640px;
}
.space-science-pack {
  width: 64px;
  height: 64px;
  background-position: -128px -640px;
}
.pistol {
  width: 64px;
  height: 64px;
  background-position: -192px -640px;
}
.submachine-gun {
  width: 64px;
  height: 64px;
  background-position: -256px -640px;
}
.shotgun {
  width: 64px;
  height: 64px;
  background-position: -320px -640px;
}
.combat-shotgun {
  width: 64px;
  height: 64px;
  background-position: -384px -640px;
}
.rocket-launcher {
  width: 64px;
  height: 64px;
  background-position: -448px -640px;
}
.flamethrower {
  width: 64px;
  height: 64px;
  background-position: -512px -640px;
}
.land-mine {
  width: 64px;
  height: 64px;
  background-position: -576px -640px;
}
.firearm-magazine {
  width: 64px;
  height: 64px;
  background-position: -640px -640px;
}
.piercing-rounds-magazine {
  width: 64px;
  height: 64px;
  background-position: -704px -640px;
}
.uranium-rounds-magazine {
  width: 64px;
  height: 64px;
  background-position: -768px -640px;
}
.shotgun-shell {
  width: 64px;
  height: 64px;
  background-position: -832px -640px;
}
.piercing-shotgun-shell {
  width: 64px;
  height: 64px;
  background-position: -896px -640px;
}
.cannon-shell {
  width: 64px;
  height: 64px;
  background-position: -960px -640px;
}
.explosive-cannon-shell {
  width: 64px;
  height: 64px;
  background-position: 0px -704px;
}
.uranium-cannon-shell {
  width: 64px;
  height: 64px;
  background-position: -64px -704px;
}
.explosive-uranium-cannon-shell {
  width: 64px;
  height: 64px;
  background-position: -128px -704px;
}
.artillery-shell {
  width: 64px;
  height: 64px;
  background-position: -192px -704px;
}
.rocket {
  width: 64px;
  height: 64px;
  background-position: -256px -704px;
}
.explosive-rocket {
  width: 64px;
  height: 64px;
  background-position: -320px -704px;
}
.atomic-bomb {
  width: 64px;
  height: 64px;
  background-position: -384px -704px;
}
.flamethrower-ammo {
  width: 64px;
  height: 64px;
  background-position: -448px -704px;
}
.grenade {
  width: 64px;
  height: 64px;
  background-position: -512px -704px;
}
.cluster-grenade {
  width: 64px;
  height: 64px;
  background-position: -576px -704px;
}
.poison-capsule {
  width: 64px;
  height: 64px;
  background-position: -640px -704px;
}
.slowdown-capsule {
  width: 64px;
  height: 64px;
  background-position: -704px -704px;
}
.defender-capsule {
  width: 64px;
  height: 64px;
  background-position: -768px -704px;
}
.distractor-capsule {
  width: 64px;
  height: 64px;
  background-position: -832px -704px;
}
.destroyer-capsule {
  width: 64px;
  height: 64px;
  background-position: -896px -704px;
}
.light-armor {
  width: 64px;
  height: 64px;
  background-position: -960px -704px;
}
.heavy-armor {
  width: 64px;
  height: 64px;
  background-position: 0px -768px;
}
.modular-armor {
  width: 64px;
  height: 64px;
  background-position: -64px -768px;
}
.power-armor {
  width: 64px;
  height: 64px;
  background-position: -128px -768px;
}
.power-armor-mk2 {
  width: 64px;
  height: 64px;
  background-position: -192px -768px;
}
.solar-panel-equipment {
  width: 64px;
  height: 64px;
  background-position: -256px -768px;
}
.fusion-reactor-equipment {
  width: 64px;
  height: 64px;
  background-position: -320px -768px;
}
.battery-equipment {
  width: 64px;
  height: 64px;
  background-position: -384px -768px;
}
.battery-mk2-equipment {
  width: 64px;
  height: 64px;
  background-position: -448px -768px;
}
.belt-immunity-equipment {
  width: 64px;
  height: 64px;
  background-position: -512px -768px;
}
.exoskeleton-equipment {
  width: 64px;
  height: 64px;
  background-position: -576px -768px;
}
.personal-roboport-equipment {
  width: 64px;
  height: 64px;
  background-position: -640px -768px;
}
.personal-roboport-mk2-equipment {
  width: 64px;
  height: 64px;
  background-position: -704px -768px;
}
.night-vision-equipment {
  width: 64px;
  height: 64px;
  background-position: -768px -768px;
}
.energy-shield-equipment {
  width: 64px;
  height: 64px;
  background-position: -832px -768px;
}
.energy-shield-mk2-equipment {
  width: 64px;
  height: 64px;
  background-position: -896px -768px;
}
.personal-laser-defense-equipment {
  width: 64px;
  height: 64px;
  background-position: -960px -768px;
}
.discharge-defense-equipment {
  width: 64px;
  height: 64px;
  background-position: 0px -832px;
}
.discharge-defense-remote {
  width: 64px;
  height: 64px;
  background-position: -64px -832px;
}
.stone-wall {
  width: 64px;
  height: 64px;
  background-position: -128px -832px;
}
.gate {
  width: 64px;
  height: 64px;
  background-position: -192px -832px;
}
.gun-turret {
  width: 64px;
  height: 64px;
  background-position: -256px -832px;
}
.laser-turret {
  width: 64px;
  height: 64px;
  background-position: -320px -832px;
}
.flamethrower-turret {
  width: 64px;
  height: 64px;
  background-position: -384px -832px;
}
.artillery-turret {
  width: 64px;
  height: 64px;
  background-position: -448px -832px;
}
.artillery-targeting-remote {
  width: 64px;
  height: 64px;
  background-position: -512px -832px;
}
.radar {
  width: 64px;
  height: 64px;
  background-position: -576px -832px;
}
.water {
  width: 64px;
  height: 64px;
  background-position: -640px -832px;
}
.crude-oil {
  width: 64px;
  height: 64px;
  background-position: -704px -832px;
}
.steam {
  width: 64px;
  height: 64px;
  background-position: -768px -832px;
}
.heavy-oil {
  width: 64px;
  height: 64px;
  background-position: -832px -832px;
}
.light-oil {
  width: 64px;
  height: 64px;
  background-position: -896px -832px;
}
.petroleum-gas {
  width: 64px;
  height: 64px;
  background-position: -960px -832px;
}
.sulfuric-acid {
  width: 64px;
  height: 64px;
  background-position: 0px -896px;
}
.lubricant {
  width: 64px;
  height: 64px;
  background-position: -64px -896px;
}
.logistics {
  width: 64px;
  height: 64px;
  background-position: -128px -896px;
}
.production {
  width: 64px;
  height: 64px;
  background-position: -192px -896px;
}
.intermediate-products {
  width: 64px;
  height: 64px;
  background-position: -256px -896px;
}
.combat {
  width: 64px;
  height: 64px;
  background-position: -320px -896px;
}
.fluids {
  width: 64px;
  height: 64px;
  background-position: -384px -896px;
}
